.form-row {
  margin-bottom: 1rem;

  .form-label {
    font-size: $small-text;
    letter-spacing: $letter-spacing;
    margin-bottom: 0.5rem;
    text-transform: capitalize;
  }

  .form-input {
    background-clip: padding-box;
    background-color: $white-1;
    border-radius: 0.25rem;
    border: 1px solid $white-17;
    color: $gray-11;
    font-size: 1rem;
    line-height: 1.5;
    outline: 0;
    padding: 0.375rem 0.75rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    width: 100%;
  }
}
